


<div class="container bg-white">
<div href='/appSelect' class="jumbotron bg-white main">

  <div onclick="/appSelect" class="jumbotron content">
    <div class="row">
      <div class="col">
        <h1 class="text-white">Signal enhancement</h1>
      </div>
      <div class="col">
        <img src="../assets/pictures/sigEnh.svg" >
      </div>
    </div>
  </div>

  <div onclick="/appSelect" class="jumbotron content">
    <div class="row">
      <div class="col">
        <h1 class="text-white">System identification</h1>
      </div>
      <div class="col">
        <img src="../assets/pictures/systemId2.svg">
      </div>
    </div>
  </div>

  <div onclick="/appSelect" class="jumbotron content">
    <div class="row">
      <div class="col">
        <h1 class="text-white">Channel equalization</h1>
      </div>
      <div class="col">
        <img src="../assets/pictures/chEq.svg">
      </div>
    </div>
  </div>

  <div (click)="signalPrediction()" class="jumbotron content">
    <div class="row">
      <div class="col">
        <h1 class="text-white">Signal prediction</h1>
      </div>
      <div class="col">
        <img src="../assets/pictures/signalPred.svg">
      </div>
    </div>
  </div>

</div>
</div>
